ion-content{
    --background: black;
}

.mainContent{
    padding: 15px;
    .title{
        text-align: center;
        font-size: 1.2rem;
        color: lightgray;
        font-weight: bold;
    }
    .customList{
        ion-item{
            --background: black;
            color: lightgray;
            border-bottom: 1px solid lightgray;
            margin-top: 15px;
        }
        .header{
            color: lightgray;
        }
        .subTitle{
            color: lightgray;
        }
        
    }
    
}

.profile-bar {
    padding: 15px 5px;
    background: hsla(0,0%,100%,.06);
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .login-panel {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
  }

  .login-btn {

    position: relative;
    display: flex;
align-items: center;
display: inline-block;

box-sizing: border-box;
cursor: pointer;
width: 100%;
margin: 5px;
  }