<ion-content>
  <div class="mainContent">
    <h3 class="title">Shahrukh Khan</h3>
    <div class="backBtnSection" (click)="back()">
      <img src="assets/back.png" alt="" class="backBtn">
    </div>
    <div class="contentSection">
      <div class="backImage back_img" [style.backgroundImage]="'url(assets/sliders/2.jpg)'"></div>
      <div class="mainDetails">
        <h3 class="movieTitle">Lorem impus</h3>
        <p class="descrition">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
          text of the printing and typesetting industry
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
          text of the printing and typesetting industry
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
          text of the printing and typesetting industry
        </p>
        <p class="imdb">IMDB 7.5</p>
      </div>

      <div class="mainDetails">
        <h3 class="movieTitle">Trivia</h3>
        <p class="descrition">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
          text of the printing and typesetting industry
        </p>
      </div>

      <div class="mainDetails">
        <h3 class="movieTitle">Quotes</h3>
        <p class="descrition">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
          text of the printing and typesetting industry
        </p>
      </div>

    </div>

  </div>
</ion-content>