p.lang-beng {
    font-family: "Galada", cursive !important;
    font-weight: 500 !important;
    font-size: 15px;
}
h4.lang-beng {
    font-family: "Galada", cursive !important;
    font-weight: 500 !important;
    font-size: 18px;
}


