<ion-tabs (ionTabsDidChange)="tabChange($event)">

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <img
                src="assets/tabs/home.png"
                class="imgIcon"
                *ngIf="selectTab==='tab1'"
            >
            <img
                src="assets/tabs/home_d.png"
                class="imgIcon"
                *ngIf="selectTab!=='tab1'"
            >
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <img
                src="assets/tabs/search.png"
                class="imgIcon"
                *ngIf="selectTab==='tab2'"
            >
            <img
                src="assets/tabs/search_d.png"
                class="imgIcon"
                *ngIf="selectTab!=='tab2'"
            >
        </ion-tab-button>

        <!-- <ion-tab-button tab="tab4">
            <img
                src="assets/tabs/download.png"
                class="imgIcon"
                *ngIf="selectTab==='tab4'"
            >
            <img
                src="assets/tabs/download_d.png"
                class="imgIcon"
                *ngIf="selectTab!=='tab4'"
            >
        </ion-tab-button> -->

        <ion-tab-button tab="tab3">
            <img
                src="assets/tabs/playlist.png"
                class="imgIcon"
                *ngIf="selectTab==='tab3'"
            >
            <img
                src="assets/tabs/playlist_d.png"
                class="imgIcon"
                *ngIf="selectTab!=='tab3'"
            >
        </ion-tab-button>

        <ion-tab-button tab="tab5">
            <img
                src="assets/tabs/menu.png"
                class="imgIcon"
                *ngIf="selectTab==='tab5'"
            >
            <img
                src="assets/tabs/menu_d.png"
                class="imgIcon"
                *ngIf="selectTab!=='tab5'"
            >
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
