<ion-content>
  <div class="mainContent">
    <h3 class="title">About & Legal</h3>
    <div class="backBtnSection" (click)="back()">
      <img src="assets/back.png" alt="" class="backBtn">
    </div>
    <div class="customList">
      <ion-item lines="none">
        <ion-label class="titleOf">Version <br>
          <p class="subTitle">3.3.221.22</p>
          <p class="subTitle" text-wrap>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="titleOf">Terms and Privacy Notice
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="titleOf">3rd Party Notices
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>