ion-content{
    --background: black;
}
.mainContent{
    background-color: black;
    padding: 15px;
    .logo{
        text-align: center;
        text-align: center;
        color: #fff;
        font-weight: 900;
        font-size: 20px;
        .logoIcon{
            width: 80px;
        }
    }
    .loginDetails{
        .signInText{
            font-weight: bold;
            color: white;
        }
        .frg{
            position: absolute;
            right: 15px;
        }
        .accountInput{
            margin-top: 20px;
            .inputTxt{
                padding-left: 5px !important;
            }
            .emailInput{
                border: 1px solid lightgray;
                margin: 5px 0px 3px;
            }
            .pwdInput{
                border: 1px solid lightgray;
                margin: 5px 0px 3px ;
            }
            .focus{
               border:2px solid #f6ae0a;
               z-index: 99999;
            }
            .pwdCheck{
                --background: transparent;
            }
            .loginBtn{
                margin-top: 20px;
            }
            ion-item{
                --background: #f9fcff2b;
                color: lightgray;
                // border: 1px solid lightgray;
            }
        }
        .terms{
            margin-top: 20px;
            text-align: center;
            .lbl_police{
                font-size: 15px;
                color: white;
            }
        }
        .center {
            width: 100%;
            height: 100%;
        }
        .newUser{
            color:#F8F8F8;;
        }
        .seperator {
            margin-top: 25px;
            height: 1px;
            background-color: #F8F8F8;
            width: 100%;
        }
    }
    .footerLink{
        display: flex;
        justify-content: space-evenly;
        margin-top: 48px;
        .linkCondition{
            font-size: 1rem;
        }
    }
    .footerCopyright{
        text-align: center;
        .copytext{
            color:#F8F8F8;;
        }
    }
}

.valid-message{
    color: #ff2929;
    font-size: 13px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    display: block;
    margin-top: 2px;
    height: 17px;
    margin-bottom: 0px;
    padding-bottom: 0;
    text-align: left;
    margin-left: 3px;
}

.warning span{ 
    display: flex;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid #fff;
    align-items: center;
    justify-content: center;
}

.warning i{
    color: #ffbe05;
    font-size: 35px;
    margin-top: -7px;
}