<ion-header>
    <div class="logo">
        <!-- <img src="assets/icon.png" alt="" class="logoIcon"> -->
        ICHHEDANA 1
    </div>
    <div class="segments">
        <ion-segment
            [(ngModel)]="feature"
            (ionChange)="segmentChanged($event)"
        >
            <ion-segment-button
                value="home"
                mode="md"
            >
                <ion-label>Home</ion-label>
            </ion-segment-button>
            <ion-segment-button
                value="tv"
                mode="md"
            >
                <ion-label>TV Shows</ion-label>
            </ion-segment-button>
            <ion-segment-button
                value="movies"
                mode="md"
            >
                <ion-label>Movies</ion-label>
            </ion-segment-button>
            <ion-segment-button
                value="kids"
                mode="md"
            >
                <ion-label>Kids</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>
<ion-content>
    <div class="mainContent">

        <div class="featureSlider">
            <ion-slides
                mode="ios"
                pager="ios"
                [options]="slideOpts"
            >
                <ng-container *ngFor="let item of frontBanners">
                    <ion-slide (click)="details()">
                        <div
                            class="sliderImg back_img"
                            [ngStyle]="{'background-image': 'url(&quot;'+ item.banner +'&quot;'}"
                        ></div>
                    </ion-slide>
                </ng-container>
            </ion-slides>
        </div>

        <div
            class="featureType"
            *ngFor="let item of frontPoster"
        >
            <div class="moreType">
                <h2 class="moreTitle">{{item.category}}</h2>
                <img
                    src="assets/next.png"
                    class="nextImg"
                    alt
                >
            </div>
            <ion-slides
                mode="ios"
                [options]="slideOptsType"
            >
                <ion-slide
                    *ngFor="let poster of item.posters"
                    (click)="details(poster)"
                >
                    <div
                        class="sliderType back_img"
                        [ngStyle]="{'background-image': 'url(&quot;' + poster.url + '&quot;)'}"
                    ></div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
</ion-content>
