<ion-header>
    <div class="logo">
        <!-- <img src="assets/icon.png" alt="" class="logoIcon"> -->
        ICHHEDANA
    </div>
    <div class="segments">
        <ion-segment
            [(ngModel)]="feature"
            (ionChange)="segmentChanged($event)"
        >
            <ion-segment-button
                value="home"
                mode="md"
            >
                <ion-label>Home</ion-label>
            </ion-segment-button>
            <ion-segment-button
                value="tv"
                mode="md"
            >
                <ion-label>TV Shows</ion-label>
            </ion-segment-button>
            <ion-segment-button
                value="movies"
                mode="md"
            >
                <ion-label>Movies</ion-label>
            </ion-segment-button>
            <ion-segment-button
                value="kids"
                mode="md"
            >
                <ion-label>Kids</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>
<ion-content>
    <div class="mainContent">

        <div class="featureSlider">
            <ion-slides
                mode="ios"
                pager="ios"
                [options]="slideOpts"
            >
                <ng-container *ngFor="let item of frontBanners">
                    <ion-slide (click)="details()">
                        <div
                            class="sliderImg back_img"
                            [ngStyle]="{'background-image': 'url(&quot;'+ item.banner +'&quot;'}"
                        ></div>
                    </ion-slide>
                </ng-container>
            </ion-slides>
        </div>
        <div class="featureType">
            <h2 class="title">Recommanded movies</h2>
            <ion-slides
                mode="ios"
                [options]="slideOptsType"
            >
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/1.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/2.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/3.jpeg)'"
                    ></div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="featureType">
            <div class="moreType">
                <h2 class="moreTitle">Recently added movies</h2>
                <img
                    src="assets/next.png"
                    class="nextImg"
                    alt
                >
            </div>
            <ion-slides
                mode="ios"
                [options]="slideOptsType"
            >
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/1.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/2.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/3.jpeg)'"
                    ></div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="featureType">
            <h2 class="title">Drama</h2>
            <ion-slides
                mode="ios"
                [options]="sliderFull"
            >
                <ion-slide (click)="series()">
                    <div
                        class="sliderTypeFull back_img"
                        [style.backgroundImage]="'url(assets/sliders/1.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="series()">
                    <div
                        class="sliderTypeFull back_img"
                        [style.backgroundImage]="'url(assets/sliders/2.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="series()">
                    <div
                        class="sliderTypeFull back_img"
                        [style.backgroundImage]="'url(assets/sliders/3.jpeg)'"
                    ></div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="featureType">
            <div class="moreType">
                <h2 class="moreTitle">Original series</h2>
                <img
                    src="assets/next.png"
                    class="nextImg"
                    alt
                >
            </div>
            <ion-slides
                mode="ios"
                [options]="slideOptsType"
            >
                <ion-slide (click)="series()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/1.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="series()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/2.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="series()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/3.jpeg)'"
                    ></div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="featureType">
            <div class="moreType">
                <h2 class="moreTitle">Romantic movies</h2>
                <img
                    src="assets/next.png"
                    class="nextImg"
                    alt
                >
            </div>

            <ion-slides
                mode="ios"
                [options]="slideOptsType"
            >
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/1.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/2.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/3.jpeg)'"
                    ></div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="featureType">
            <h2 class="title">Movies by language</h2>
            <ion-slides
                mode="ios"
                [options]="slideOptsType"
            >
                <ion-slide (click)="language()">
                    <div
                        class="sliderLang back_img"
                        [style.backgroundImage]="'url(assets/language.png)'"
                    >
                        <p class="langName">English</p>
                    </div>
                </ion-slide>
                <ion-slide (click)="language()">
                    <div
                        class="sliderLang back_img"
                        [style.backgroundImage]="'url(assets/language.png)'"
                    >
                        <p class="langName">Hindi</p>
                    </div>
                </ion-slide>
                <ion-slide (click)="language()">
                    <div
                        class="sliderLang back_img"
                        [style.backgroundImage]="'url(assets/language.png)'"
                    >
                        <p class="langName">Telugu</p>
                    </div>
                </ion-slide>
                <ion-slide (click)="language()">
                    <div
                        class="sliderLang back_img"
                        [style.backgroundImage]="'url(assets/language.png)'"
                    >
                        <p class="langName">Marathi</p>
                    </div>
                </ion-slide>
                <ion-slide (click)="language()">
                    <div
                        class="sliderLang back_img"
                        [style.backgroundImage]="'url(assets/language.png)'"
                    >
                        <p class="langName">Gujarati</p>
                    </div>
                </ion-slide>
                <ion-slide (click)="language()">
                    <div
                        class="sliderLang back_img"
                        [style.backgroundImage]="'url(assets/language.png)'"
                    >
                        <p class="langName">Punjabi</p>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="featureType">
            <div class="moreType">
                <h2 class="moreTitle">Comedy</h2>
                <img
                    src="assets/next.png"
                    class="nextImg"
                    alt
                >
            </div>
            <ion-slides
                mode="ios"
                [options]="slideOptsType"
            >
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/1.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/2.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/3.jpeg)'"
                    ></div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="featureType">
            <div class="moreType">
                <h2 class="moreTitle">Thriller</h2>
                <img
                    src="assets/next.png"
                    class="nextImg"
                    alt
                >
            </div>
            <ion-slides
                mode="ios"
                [options]="slideOptsType"
            >
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/1.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/2.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/3.jpeg)'"
                    ></div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="featureType">
            <div class="moreType">
                <h2 class="moreTitle">Drama</h2>
                <img
                    src="assets/next.png"
                    class="nextImg"
                    alt
                >
            </div>
            <ion-slides
                mode="ios"
                [options]="slideOptsType"
            >
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/1.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/2.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/3.jpeg)'"
                    ></div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="featureType">
            <div class="moreType">
                <h2 class="moreTitle">Top movies</h2>
                <img
                    src="assets/next.png"
                    class="nextImg"
                    alt
                >
            </div>
            <ion-slides
                mode="ios"
                [options]="slideOptsType"
            >
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/1.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/2.jpg)'"
                    ></div>
                </ion-slide>
                <ion-slide (click)="details()">
                    <div
                        class="sliderType back_img"
                        [style.backgroundImage]="'url(assets/sliders/3.jpeg)'"
                    ></div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
</ion-content>
