<ion-content>
    <div class="mainContent">
        <!-- <div class="logo">IchheDana</div> -->
        <div class="loginDetails">
            <div class="registration-container">
                <div class="registration-header">Verifying Your Email</div>
                <div class="registration-subheader">
                    An OTP has been sent to the entered Email
                </div>

                <form
                    (ngSubmit)="otpSubmit()"
                    [formGroup]="optForm"
                >
                    <div class="form-container">
                        <ng-otp-input
                            (onInputChange)="onOtpChange($event)"
                            #ngOtpInput
                            [config]="{length:4, inputClass:'otp-input', containerClass:'otp-container', allowNumbersOnly:true}"
                        ></ng-otp-input>
                    </div>
                    <div class="otp-bottom">
                        <p class="single-right">
                            Did not get the OTP?
                            <button
                                type="button"
                                class="noSelect resend-btn"
                            >
                                Resend
                            </button>
                        </p>
                    </div>
                    <div class="bottomWrap">

                        <div class="buttonContainer ">

                            <ion-button
                                expand="block"
                                color="warning"
                                type="submit"
                                class="loginBtn"
                            >
                                Verify
                            </ion-button>
                        </div>
                        <div class="login-link">
                            Back to
                            <a routerLink="/register">
                                <span class="noSelect login-text">Register</span>
                            </a>

                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>
</ion-content>
