<ion-header>
  <ion-toolbar>
    <ion-title>Subscribe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="subscribeDiv">
    <ion-list lines="none">
      <ion-list-header class="ion-text-center">
        <ion-label>Select a plan</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <div>VIP</div>
          <h1>899/-</h1>
          <p>1 year</p>
          <ion-button>SUBSCRIBE NOW</ion-button>
        </ion-label>
        
      </ion-item>
      <ion-item>
        <ion-label>
          <div>PREMIUM</div>
          <h1>899/-</h1>
          <p>1 year</p>
          <ion-button>SUBSCRIBE NOW</ion-button>
        </ion-label>
        
      </ion-item>
    </ion-list>
  </div>
</ion-content>
