/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


* {
    font-family: 'Roboto', sans-serif;
}

.back_img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    ion-back-button {
      --color: #fff;
      text-indent: -9999px;
    }
  }

ion-header{
    background: #000;
}
ion-toolbar{
    --background: #000;
    // --background: linear-gradient(315deg, #0aa6ca 0%, #42378f 100%);
    --color:#fff;
}

.otp-input {
    display: inline-block;
    width: 50px !important;
    height: 60px !important;
    margin: 3px 10px;
    padding: 0;
    border-radius: 0% !important;
    background: black;
    font-weight: 700;
    border: none !important;
    border-bottom: 1px solid #5e5e5d !important;
    color: #ffc409 !important;
    margin-right: 8px;
    padding-top: 2px;
    font-size: 20px !important;
  }
  
  .otp-input:focus {
    outline: none;
  }
.otp-container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.toast-modal  {
  background: #fff;
  min-height: 200px;
  max-height: 0;
  border-radius: 20px;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* transform: translate(-0%, -50%); */
  z-index: 11;
  text-align: center;
  padding: 20px;
  margin: -115px 0 0 -40%;
}

.toast-modal .modal-wrapper {
  background-color:rgba(0, 0, 0, 0.3) !important;
  --background: transparent !important;
}

.toast-modal .toast-modal-container {

}

.toast-modal .toast-modal-container .ion-page {
  padding: 20px;
  display: block;
}

.toast-modal .toast-modal-container span {
  display: flex;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid rgb(90, 176, 64);
  align-items: center;
  justify-content: center;
}

.toast-modal-container {
  font-family: "Baloo Tamma 2", cursive;
}

.toast-modal .toast-modal-container p {
  margin: 0;
}

.toast-modal .toast-modal-container i {
  color: rgb(90, 176, 64);
  font-size: 25px;
}

.toast-modal .toast-modal-container span.warning {
  display: flex;
  margin: 0 auto;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid #fff;
  align-items: center;
  justify-content: center;
}

.toast-modal .toast-modal-container span.warning i {
  color: #ffbe05;
  font-size: 35px;
  margin-top: -7px;
}

.toast-modal .toast-modal-container span.invalid {
  width: 35px;
  height: 35px;
  border: 3px solid transparent;
}

.toast-modal .toast-modal-container span.invalid i {
  color: #fd0118;
  font-size: 40px;
}